{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}


{% block body %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

	<div class="profile-container">
		<h1>Profil de
			{{ app.user.pseudo }}</h1>

		<div class="profile-info">
			<div class="avatar">
				{% if userProfile.avatar %}
					<img src="{{ asset('uploads/avatars/' ~ userProfile.avatar) }}" alt="Avatar">
				{% else %}
					<p>Aucun avatar uploadé.</p>
				{% endif %}
			</div>

			<div class="profile-details">
				<h3>À propos de moi :</h3>
				<p>{{ userProfile.biography|default('Aucune biographie disponible.') }}</p>

				<h3>Sexe :</h3>
				<p>{{ userProfile.sex|default('Non spécifié.') }}</p>

				<h3>Situation :</h3>
				<p>{{ userProfile.situation|default('Non renseigné.') }}</p>

				<h3>Je recherche :</h3>
				<p>{{ userProfile.research|default('Non spécifié.') }}</p>
			</div>
		</div>

		<div class="photos">
			<h3>Photos :</h3>
			{% set photos = userProfile.photos|default([]) %}

			{% if photos is not empty %}
				<div class="photo-gallery">
					{% for photo in photos %}
						<img src="{{ asset('uploads/photos/' ~ photo) }}" alt="User Photo">
					{% endfor %}
				</div>
			{% else %}
				<p>Aucune photo uploadée.</p>
			{% endif %}
		</div>

		<a href="{{ path('app_profile_edit') }}" class="btn btn-primary">Éditer mon profil</a>
	</div>
{% endblock %}

